{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% block title %}
  Вкусная Гавань
{% endblock title%}
{% block content %}
  <div class="container-fluid">
    <div class="container pt-4 text-center">
      <h1>Ресторанчик</br> <i><b>Вкусная Гавань</b></i></h1>
    </div>
    <div class="row justify-content-between pt-5">
      <div class="col-5">
        <img src="{% static 'img/fasad.png' %}" height="680px" align="center" alt="" >
      </div>
      <div class="col-5">
        <img src="{% static 'img/inside.png' %}" align="center" alt="" >
      </div>
    </div>
    <div class="row pt-5">
      <div class="col-6 text-center">
        <h4>Контакты</h4>
        <p><i>г. Красноярск, ул. Никитина 18</i></p>
        <p><i>тел. +7(999)999-99-99</i></p>
        <p><i>E-mail: vselipoeli@example.com</i></p>
      </div>
      <div class="col-6 text-center">
        <h4>Юридическая информация</h4>
        <p><i>ИНН/КПП: 2465358995/246501001</i></p>
        <p><i>ОГРН: 1242400000260</i></p>
        <p><i>Юридический адрес: 660022, Красноярский край, г. Красноярск,<br>
          ул. Никитина, д. 18, помещ. 3 </i>
        </p>
      </div>
    </div>
  </div>
{% endblock content%}
