{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block title %}
  {% if 'calculate' in request.path %}
    Выручка
  {% else %}
    Заказы
  {% endif %}
{% endblock title %}

{% block content %}
  {% with request.resolver_match.view_name as view_name %}
    <div class="row ms-auto me-auto">
      <form method="get">
        <div class="d-flex align-items-center">
          {% if view_name == 'orders:calculate' %}
            {{ filter.form }}
          {% else %}
            {% bootstrap_form filter.form %}
          {% endif %}
          <div class="p-2">
            {% bootstrap_button "Применить" button_type="submit" button_class="btn-outline-success btn-sm" %}
          </div>
          <div class="p-2">
            {% if view_name == 'orders:calculate' %}
              {% bootstrap_button "Сбросить" button_type="link" button_class="btn-outline-danger btn-sm" href="/orders/calculate" %}
            {% else %}
              {% bootstrap_button "Сбросить" button_type="link" button_class="btn-outline-danger btn-sm" href="/orders" %}
            {% endif %}
          </div>
        </div>
      </form>
      <hr>
    </div>
    <div class="row row-cols-auto me-auto ms-auto">
      {% for order in order_list %}
        {% include 'includes/order_card.html' %}
      {% empty %}
        <h2>Заказов нет</h2>
      {% endfor %}
    </div>
    {% if view_name == 'orders:calculate' %}
      {% if total.total_price__sum %}<hr><h2>Итого: {{ total.total_price__sum }} р.</h2>{% endif %}
    {% endif %}
  {% endwith %}
{% endblock content %}