{% load static %}
{% load django_bootstrap5 %}
<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'orders:index' %}">
      <img src=" {% static 'img/logo.png' %}" alt="" width="30" height="30" class="d-inline-block align-text-top">
      Вкусная Гавань
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'orders:list' %}">Заказы</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

